<h2>Send a friend request:</h2>

<%if @received_friend_requests%>
    <%=form_with model: @friendship, local: true do%>
        <%@received_friend_requests.each do |request|%>
            Request from <%=request.sender.name%>
            <%=radio_button_tag('friend_b_id', request.sender.id) %><br>
        <%end%>
        <%= submit_tag("Accept request")%>
    <%end%>
<%end%>
<br>
Send friend request:
<br>
<%=form_with model: @friend_request, local: true do%>
    <%@users.each do |user|%>
        <%=user.name%>
        <%=radio_button_tag('receiver_id', user.id) %>
        <br>
    <%end%>
    <%= submit_tag("Send request")%>
<%end%>