<!DOCTYPE html>
<html>
  <head>
    <title>RailsMiniFacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Mini-Facebook</h1>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
        Logged in as: <%=current_user.name%><br>
        <%= link_to " Logout", destroy_user_session_path, method: :delete, class:"button is-info" %> |
        <%= link_to "My Profile", controller: "users", action: "show", id: current_user.id %> |
        <%= link_to "News Feed", controller: "posts", action: "index"%> 
    <% end %>
    <%= yield %>
  </body>
</html>
